.questionInputContainer {
  position: absolute;
  left: 6.5%;
  right: 0%;
  border-radius: 32px;
  box-shadow: 0 0 10px 0 rgba(181, 180, 199, 0.2);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(94deg, #1580eb 0%, #a7a2ec 100%);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #fff, #fff), linear-gradient(94deg, #1580eb 0%, #a7a2ec 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.questionInputTextArea {
  width: 100%;
  border-radius: 31px;

  margin-left: 12px;
  margin-right: 12px;
}

.questionInputTextArea * {
  background: none;
  font-size: 18px;
}

.questionInputSendButtonContainer {
  position: absolute;
  right: 24px;
  top: 20px;
}

.questionInputSendButton {
  width: 27px;
  height: 24px;
}

.questionInputSendButtonDisabled {
  /* opacity: 0.4; */
  width: 27px;
  height: 24px;
  background: none;
  color: #424242;
}

.questionInputBottomBorder {
  position: absolute;
  width: 100%;

  left: 0%;
  bottom: 0%;
  background: radial-gradient(106.04% 106.06% at 100.1% 90.19%, #0f6cbd 33.63%, #8dddd8 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
}
